# This is the geometry configuration file. Each specific body is input via
# each line within this file. This file should be placed within the input 
# folder prior to running LIFE. The general format for specifying a body
# is KEYWORD NUMBER ID POSITION SPACING OBJECT_SPECIFIC_PARAMETERS. An 
# example for each keyword is given below:
#
#
# CIRCLE:
# CIRCLE NUMBER STARTID STARTCENTREX STARTCENTREY SPACING_X SPACING_Y RADIUS
#
#
# FILAMENT:
# FILAMENT NUMBER STARTID STARTX STARTY SPACING_X SPACING_Y LENGTH HEIGHT ANGLE FLEX_RIGID N_ELEMENTS BC DENSITY YOUNG_MODULUS
#
#
#
# ** START OF GEOMETRY CONFIG FILE: **
CIRCLE 1 0 0.2 0.2 0.0 0.0 0.05
FILAMENT 1 1 0.25 0.2 0.0 0.0 0.35 0.02 0.0 FLEXIBLE 20 CLAMPED 10000.0 1.4e6